/* app css stylesheet */

#site_title { background-image: url(../img/phenoscape_logo.png); background-size: auto 150%; background-repeat: no-repeat;}

#phenoscape_logo { height: 60px; }

blockquote.character { font-size: 14px; display: inline-block; }

.kb-form-condensed .form-group {
    margin-top: 0;
    margin-bottom: 0;
    
}

.bottom-buffer { margin-bottom:20px; }

.top-buffer { margin-top: 1em;}

.common-taxon-group img {max-height: 20px;}

.taxon-name.extinct::before {content: "†";}

div.classification-level div.classification-level {padding-left: 1.5em;}
