/* app css stylesheet */

#site_title { background-image: url(../img/phenoscape_logo.png); background-size: auto 150%; background-repeat: no-repeat;}

#phenoscape_logo { height: 60px; }

blockquote.character { font-size: 14px; display: inline-block; }

.kb-form-condensed .form-group {
    margin-top: 0;
    margin-bottom: 0;
    
}

h2 .badge { vertical-align: middle; }

.bottom-buffer { margin-bottom:20px; }

.top-buffer { margin-top: 1em;}

.common-taxon-group img {max-height: 20px;}

.taxon-name.extinct::before {content: "†";}

div.classification-level div.classification-level {padding-left: 1.5em;}

.nav-pills>.active>a .badge {color: #428bca; background-color: #fff;} /* angular-ui-bootstrap inserts an element between a and .badge, so the active color doesn't get set correctly by the Bootstrap CSS */

.search-accordion {z-index: 500; position: absolute; margin-right: 30px;}
    
.search-accordion-group {box-shadow: 10px 10px 5px #888888;}

.sciCrunchAnnotation {color: #428bca;}
.sciCrunchAnnotation:hover, .sciCrunchAnnotation:focus {color: #2a6496;}
.annotation-link {display: block;}
.annotation-prefix-UBERON {color: #3f0080;}
.annotation-prefix-VTO {color: #006633;}
.annotation-prefix-PATO {color: #b35900;}
.annotation-prefix-BSPO {color: #b38f00;}
.annotation-prefix-multiple {color: #cc0066;}

.link-no-color {color: inherit;}

.genus-species {font-style: italic;}

.example-heading {margin: 0;}