<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
	<script src="../bower_components/angular/angular.js"></script>
	<script src="../dist/smart-table.min.js"></script>
	<script src="./app.js"></script>
	<meta charset="UTF-8">
	<title></title>
	<style>
		.st-sort-ascent:before{
			content:'\2191';
		}

		.st-sort-descent:before{
			content:'\2193';
		}

		.st-selected{
			background: blue ;
			color:white;
		}
	</style>
</head>
<body ng-controller="mainCtrl">
<p>{{greetings}}</p>

<div>
	<table st-table="rowCollection">
		<thead>
		<tr>
			<th st-sort="getters.firstname" >firstname</th>
			<th st-sort="name">lastname</th>
			<th>action</th>
		</tr>
		<tr>
			<th colspan="3">
				<input type="text" st-search="firstname"/>
			</th>
		</tr>
		</thead>
		<tbody>
		<tr st-select-row="row" st-select-mode="multiple" ng-repeat="row in rowCollection">
			<td>{{row.firstname}}</td>
			<td>{{row.name}}</td>
			<td ng-click="edit(row)">edit</td>
		</tr>
		</tbody>
	</table>
</div>
<div>
	<!--<h3>original</h3>-->
	<input type="text" ng-model="editString"/>
	<span ng-click="clickHandler()">clik-me</span>
	<ul>
		<li ng-repeat="item in rowCollection">
			{{ item | json}}
		</li>
	</ul>
</div>
</body>
</html>