<h2>About the Knowledgebase</h2>
<p>Data and ontologies in the KB were last updated on <strong>December 28, 2015</strong>.</p>
<div class="row">
    <div class="col-md-5 col-sm-6 col-xs-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                Annotation stats
            </div>
            <table class="table table-condensed" cg-busy="annotationSummary.$promise">
                <tbody>
                    <tr class="text-right">
                        <td>Annotated matrices:</td>
                        <td>{{annotationSummary.annotated_matrices}}</td>
                    </tr>
                    <tr class="text-right">
                        <td>Annotated taxa:</td>
                        <td>{{annotationSummary.annotated_taxa}}</td>
                    </tr>
                    <tr class="text-right">
                        <td>Annotated characters:</td>
                        <td>{{annotationSummary.annotated_characters}}</td>
                    </tr>
                    <tr class="text-right">
                        <td>Annotated character states:</td>
                        <td>{{annotationSummary.annotated_states}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div>
    <h3>Data</h3>
    <h4>Phenoscape-annotated evolutionary data</h4>
    <p><a href="https://github.com/phenoscape/phenoscape-data">Available at GitHub</a> in NeXML format.</p>
    <h4>Model organism gene phenotypes and expression locations</h4>
    <ul>
        <li><a href="http://zfin.org">ZFIN</a> (zebrafish)</li>
        <li><a href="http://xenbase.org">Xenbase</a> (frog)</li>
        <li><a href="http://www.informatics.jax.org">MGI</a> (mouse)</li>
        <li><a href="http://www.human-phenotype-ontology.org/">Human phenotype ontology project</a></li>
    </ul>
</div>
<div>
    <h3>Ontologies</h3>
    <p>Logical relationships expressed in ontologies tie together everything in the Knowledgebase and drive functionality. The KB includes and builds on these community-developed ontologies:</p>
    <ul>
        <li><a href="http://uberon.org">Uberon ontology of metazoan anatomy</a></li>
        <li><a href="http://wiki.obofoundry.org/wiki/index.php/PATO:Main_Page">Phenotype and trait ontology (PATO)</a></li>
        <li><a href="https://code.google.com/p/biological-spatial-ontology/">Biospatial ontology (BSPO)</a></li>
        <li><a href="http://zfin.org/zf_info/anatomy/dict/sum.html">Zebrafish anatomy (ZFA)</a></li>
        <li><a href="http://www.xenbase.org/anatomy/xao.do?method=display">Xenopus anatomy (XAO)</a></li>
        <li><a href="http://emouseatlas.org/emap/home.html">Mouse developmental anatomy (EMAPA)</a></li>
        <li><a href="http://www.informatics.jax.org/searches/MP_form.shtml">Mammalian phenotype ontology (MP)</a></li>
        <li><a href="http://www.human-phenotype-ontology.org/">Human phenotype ontology (HP)</a></li>
        <li><a href="https://code.google.com/p/obo-relations/">OBO relations ontology (RO)</a></li>
        <li><a href="http://www.geneontology.org/">Gene ontology (GO)</a></li>
    </ul>
</div>
<div>
    <h3>Software</h3>
    <p>All the software developed by the Phenoscape project is open source and <a href="https://github.com/phenoscape">available at GitHub</a>.</p>
</div>