<h2>About the Knowledgebase</h2>

<div>
    <h3>Data</h3>
    <h4>Phenoscape-annotated evolutionary data</h4>
    <p></p>
    <h4>Model organism gene phenotypes and expression locations</h4>
</div>
<div>
    <h3>Ontologies</h3>
    <p>Logical relationships expressed in ontologies tie together everything in the Knowledgebase and drive functionality. The KB includes and builds on these community-developed ontologies:</p>
    <ul>
        <li>Uberon ontology of metazoan anatomy</li>
        <li>Phenotype and trait ontology (PATO)</li>
        <li>Biospatial ontology (BSPO)</li>
        <li>Zebrafish anatomy (ZFA)</li>
        <li>Xenopus anatomy (XAO)</li>
        <li>Mouse developmental anatomy (EMAPA)</li>
        <li></li>
    </ul>
</div>
<div>
    <h3>Software</h3>
    <p>All the software developed by the Phenoscape project is open source and <a href="https://github.com/phenoscape">available at GitHub</a>.</p>
</div>