<div class="classification-level" cg-busy="classification.$promise">
    <ul class="list-unstyled">
        <li ng-repeat="superclass in classification.subClassOf"><a href="{{linkMaker(superclass['@id'])}}">{{superclass.label}}</a></li>
    </ul>
    <div class="classification-level">
        <p>{{classification.label}}<span ng-repeat="equiv in classification.equivalentTo"> = <a href="{{linkMaker(equiv['@id'])}}">{{equiv.label}}</a></span></p>
        <div class="classification-level">
            <ul class="list-unstyled">
                <li ng-repeat="subclass in classification.superClassOf"><a href="{{linkMaker(subclass['@id'])}}">{{subclass.label}}</a></li>
            </ul>
        </div>
    <div>
</div>
