<h2 cg-busy="term.$promise"><span class="badge">Anatomy</span> {{term.label}} <small><a href="{{termID}}" target="_blank" class="link-no-color">{{termID | prefixedURI}}</a></small></h2>
<p><strong>Definition:</strong> {{term.definition}}</p>
<div class="row">
    <div class= "col-sm-12">
        <tabset>
            <tab heading="Properties" active="tabs.properties.active" select="activateTab('properties')">
                <div class="panel panel-default top-buffer">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <classification iri="termID" defined-by="http://purl.obolibrary.org/obo/uberon.owl" link-filter="linkToEntity"></classification>
                            </div>
                            <div class="col-sm-8" style="border-left: 1px solid #ddd" ng-show="term.relationships.length > 0">
                                <ul class="list-unstyled">
                                    <li ng-repeat="rel in term.relationships" ng-show="rel.value['@id'] | isEntity"><em>{{rel.property.label}}</em>: <a href="{{rel.value['@id'] | linkToEntity}}">{{rel.value.label}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
            <tab heading="Taxa" active="tabs.taxa.active" select="activateTab('taxa')">
                <tabset type="pills" class="top-buffer">
                    <tab active="taxaTabs.phenotypes.active" select="activateTaxaTab('phenotypes')">
                        <tab-heading>Phenotypes <span class="badge">{{taxaWithPhenotypesTotal.total}}</span></tab-heading>
                        <div class="panel panel-default top-buffer">
                            <div class="panel-heading"><h4>Taxa exhibiting phenotypes for {{term.label}}</h4></div>
                            <div class="panel-body">
                                <p>This query uses inference to find taxa annotated with phenotypes pertaining to <mark>{{term.label}}</mark>.</p>
                                <div class="well">
                                    <form class="form-inline">
                                        <div class="form-group" ng-class="{'has-success': filters.phenotypesTaxonFilter, 'has-feedback': filters.phenotypesTaxonFilter}">
                                            <label for="withinTaxonInputPhenotypes">Within taxon</label>
                                            <input id="withinTaxonInputPhenotypes" type="text" ng-model="filters.phenotypesTaxonFilter" placeholder="any taxonomic group" typeahead="withinTaxon as withinTaxon.label for withinTaxon in autocompleteTaxa($viewValue)" typeahead-loading="loadingWithinTaxonPhenotypes" typeahead-wait-ms="300" typeahead-editable="false" class="form-control">
                                            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="filters.phenotypesTaxonFilter"></span>
                                            <i ng-show="loadingWithinTaxonPhenotypes" class="glyphicon glyphicon-refresh"></i>
                                        </div>
                                        <div class="form-group" ng-class="{'has-success': filters.phenotypesQualityFilter, 'has-feedback': filters.phenotypesQualityFilter}">
                                            <label for="qualityInputPhenotypes">Quality</label>
                                            <input id="qualityInputPhenotypes" type="text" ng-model="filters.phenotypesQualityFilter" placeholder="any phenotypic quality" typeahead="quality as quality.label for quality in autocompleteQuality($viewValue)" typeahead-loading="loadingQualityPhenotypes" typeahead-wait-ms="300" typeahead-editable="false" class="form-control">
                                            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="filters.phenotypesQualityFilter"></span>
                                            <i ng-show="loadingQualityPhenotypes" class="glyphicon glyphicon-refresh"></i>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <table class="table table-condensed table-striped" cg-busy="taxaWithPhenotypes.$promise">
                                <thead>
                                    <tr>
                                        <th>Group</th>
                                        <th>Taxon</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="taxon in taxaWithPhenotypes.results">
                                        <td><common-group taxon="taxon['@id']"></common-group></td>
                                        <td><a href="{{taxon['@id'] | linkToTaxon}}"><taxon-name iri="taxon['@id']"></taxon-name></a></td>
                                        <td><a href="{{ {taxon: taxon, entity: {'@id': termID}, quality: filters.phenotypesQualityFilter} | linkToTaxonPhenotypeProfile}}">View phenotypes <counted-phenotypes-for-taxon taxon="taxon" entity="{'@id': termID}" quality="filters.phenotypesQualityFilter"/></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <pagination total-items="taxaWithPhenotypesTotal.total" ng-model="taxaWithPhenotypesPage" max-size="taxaWithPhenotypesMaxSize" class="pagination-sm" boundary-links="true" rotate="false"  items-per-page="taxaWithPhenotypesLimit" cg-busy="taxaWithPhenotypesTotal.$promise" ng-change="taxaWithPhenotypesPageChanged(taxaWithPhenotypesPage)"></pagination>
                        <div class="form-group form-inline">
                            <label for="taxaWithPhenotypesPageInput">Jump to page: </label> <input type="number" class="form-control input-sm" id="taxaWithPhenotypesPageInput" ng-model="taxaWithPhenotypesPage" ng-change="taxaWithPhenotypesPageChanged(taxaWithPresencePage)">
                        </div>
                        <p><label>Download all results:</label> <a class="btn btn-info btn-xs" target="_blank" href="{{ {entity: {'@id': termID}, quality: filters.phenotypesQualityFilter, in_taxon: filters.phenotypesTaxonFilter} | linkToTaxaWithPhenotypeDownload}}" role="button">Text</a></p>
                    </tab>
                    <tab active="taxaTabs.presence.active" select="activateTaxaTab('presence')">
                        <tab-heading>Presence <span class="badge">{{taxaWithPresenceTotal.total}}</span></tab-heading>
                        <div class="panel panel-default top-buffer">
                            <div class="panel-heading"><h4>Taxa exhibiting presence of {{term.label}}</h4></div>
                            <div class="panel-body">
                                <p>This query uses inference to determine if any character states entail the presence of <mark>{{term.label}}</mark> in a given taxon.</p>
                                <div class="well">
                                    <form class="form-inline">
                                        <div class="form-group" ng-class="{'has-success': filters.presenceTaxonFilter, 'has-feedback': filters.presenceTaxonFilter}">
                                            <label for="withinTaxonInputPresence">Within taxon</label>
                                            <input id="withinTaxonInputPresence" type="text" ng-model="filters.presenceTaxonFilter" placeholder="any taxonomic group" typeahead="withinTaxon as withinTaxon.label for withinTaxon in autocompleteTaxa($viewValue)" typeahead-loading="loadingWithinTaxonPresence" typeahead-wait-ms="300" typeahead-editable="false" class="form-control">
                                            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="filters.presenceTaxonFilter"></span>
                                            <i ng-show="loadingWithinTaxonPresence" class="glyphicon glyphicon-refresh"></i>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <table class="table table-condensed table-striped" cg-busy="taxaWithPresence.$promise">
                                <thead>
                                    <tr>
                                        <th>Group</th>
                                        <th>Taxon</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="taxon in taxaWithPresence.results">
                                        <td><common-group taxon="taxon['@id']"></common-group></td>
                                        <td><a href="{{taxon['@id'] | linkToTaxon}}"><taxon-name iri="taxon['@id']"></taxon-name></a></td>
                                        <td><a href="{{ {entity: {'@id': termID}, taxon: taxon} | linkToTaxonPresencePhenotypeProfile}}">View phenotypes <counted-presence-or-absence-for-taxon taxon="taxon" entity="{'@id': termID}" kind="presence"/></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <pagination total-items="taxaWithPresenceTotal.total" ng-model="taxaWithPresencePage" max-size="taxaWithPresenceMaxSize" class="pagination-sm" boundary-links="true" rotate="false"  items-per-page="taxaWithPresenceLimit" cg-busy="taxaWithPresenceTotal.$promise" ng-change="taxaWithPresencePageChanged(taxaWithPresencePage)"></pagination>
                        <div class="form-group form-inline">
                            <label for="taxaWithPresencePageInput">Jump to page: </label> <input type="number" class="form-control input-sm" id="taxaWithPresencePageInput" ng-model="taxaWithPresencePage" ng-change="taxaWithPresencePageChanged(taxaWithPresencePage)">
                        </div>
                        <p><label>Download all results:</label> <a class="btn btn-info btn-xs" target="_blank" href="http://kb.phenoscape.org/kb/entity/presence?limit=0&amp;entity={{termID | encodeURI}}" role="button">Text</a></p>
                    </tab>
                    <tab active="taxaTabs.absence.active" select="activateTaxaTab('absence')">
                        <tab-heading>Absence <span class="badge">{{taxaWithAbsenceTotal.total}}</span></tab-heading>
                        <div class="panel panel-default top-buffer">
                            <div class="panel-heading"><h4>Taxa exhibiting absence of {{term.label}}</h4></div>
                            <div class="panel-body">
                                <p>This query uses inference to determine if any character states entail the absence of <mark>{{term.label}}</mark> in a given taxon.</p>
                                <div class="well">
                                    <form class="form-inline">
                                        <div class="form-group" ng-class="{'has-success': filters.absenceTaxonFilter, 'has-feedback': filters.absenceTaxonFilter}">
                                            <label for="withinTaxonInputAbsence">Within taxon</label>
                                            <input id="withinTaxonInputAbsence" type="text" ng-model="filters.absenceTaxonFilter" placeholder="any taxonomic group" typeahead="withinTaxon as withinTaxon.label for withinTaxon in autocompleteTaxa($viewValue)" typeahead-loading="loadingWithinTaxonAbsence" typeahead-wait-ms="300" typeahead-editable="false" class="form-control">
                                            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="filters.absenceTaxonFilter"></span>
                                            <i ng-show="loadingWithinTaxonAbsence" class="glyphicon glyphicon-refresh"></i>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <table class="table table-condensed table-striped" cg-busy="taxaWithAbsence.$promise">
                                <thead>
                                    <tr>
                                        <th>Group</th>
                                        <th>Taxon</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="taxon in taxaWithAbsence.results">
                                        <td><common-group taxon="taxon['@id']"></common-group></td>
                                        <td><a href="{{taxon['@id'] | linkToTaxon}}"><taxon-name iri="taxon['@id']"></taxon-name></a></td>
                                        <td><a href="{{ {entity: {'@id': termID}, taxon: taxon} | linkToTaxonAbsencePhenotypeProfile}}">View phenotypes <counted-presence-or-absence-for-taxon taxon="taxon" entity="{'@id': termID}" kind="absence"/></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <pagination total-items="taxaWithAbsenceTotal.total" ng-model="taxaWithAbsencePage" max-size="taxaWithAbsenceMaxSize" class="pagination-sm" boundary-links="true" rotate="false"  items-per-page="taxaWithAbsenceLimit" cg-busy="taxaWithAbsenceTotal.$promise" ng-change="taxaWithAbsencePageChanged(taxaWithAbsencePage)"></pagination>
                        <div class="form-group form-inline">
                            <label for="taxaWithAbsencePageInput">Jump to page:</label> <input type="number" class="form-control input-sm" min="1" id="taxaWithAbsencePageInput" ng-model="taxaWithAbsencePage" ng-change="taxaWithAbsencePageChanged(taxaWithAbsencePage)">
                        </div>
                        <p><label>Download all results:</label> <a class="btn btn-info btn-xs" target="_blank" href="http://kb.phenoscape.org/kb/entity/absence?limit=0&amp;entity={{termID | encodeURI}}" role="button">Text</a></p>
                    </tab>
                </tabset>
            </tab>
            <tab heading="Genes" active="tabs.genes.active" select="activateTab('genes')">
                <tabset type="pills" class="top-buffer">
                    <tab active="genesTabs.phenotypes.active" select="activateGenesTab('phenotypes')">
                        <tab-heading>Phenotypes <span class="badge">{{phenotypeGenesTotal.total}}</span></tab-heading>
                        <div class="panel panel-default top-buffer">
                            <div class="panel-heading">
                                <h4>Genes affecting phenotypes for this structure</h4>
                            </div>
                            <div class="panel-body">
                                <p>These genes have been annotated with phenotypes affecting <mark>{{term.label}}</mark> (directly or via inference).</p>
                                <div class="checkbox well">
                                    <label>
                                        <input type="checkbox" ng-model="phenotypeGenesSettings.includeParts" ng-click="resetPhenotypeGenes();"> Include parts of {{term.label}}
                                    </label>
                                </div>
                            </div>
                            <table class="table table-condensed table-striped" cg-busy="phenotypeGenes.$promise">
                                <thead>
                                    <tr>
                                        <th>Organism</th>
                                        <th>Gene</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="gene in phenotypeGenes.results">
                                        <td><span class="common-taxon-group"><img ng-src="{{gene['@id'] | geneIDToImage}}"></span></td>
                                        <td><a href="{{gene['@id'] | linkToGene}}"><span>{{gene.label}}</span></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <pagination total-items="phenotypeGenesTotal.total" ng-model="phenotypeGenesPage" max-size="phenotypeGenesMaxSize" class="pagination-sm" boundary-links="true" rotate="false"  items-per-page="phenotypeGenesLimit" cg-busy="phenotypeGenesTotal.$promise" ng-change="phenotypeGenesPageChanged(phenotypeGenesPage)"></pagination>
                        <p><label>Download all results:</label> <a class="btn btn-info btn-xs" target="_blank" href="http://kb.phenoscape.org/kb/gene/affecting_entity_phenotype?limit=0&amp;iri={{termID | encodeURI}}&amp;parts={{phenotypeGenesSettings.includeParts}}" role="button">Text</a></p>
                    </tab>
                    <tab active="genesTabs.expression.active" select="activateGenesTab('expression')">
                        <tab-heading>Expression <span class="badge">{{expressionGenesTotal.total}}</span></tab-heading>
                        <div class="panel panel-default top-buffer">
                            <div class="panel-heading">
                                <h4>Genes expressed within this structure</h4>
                            </div>
                            <div class="panel-body">
                                <p>These genes have been annotated with expression locations within any part of <mark>{{term.label}}</mark> (directly or via inference).</p>
                            </div>
                            <table class="table table-condensed table-striped" cg-busy="expressionGenes.$promise">
                                <thead>
                                    <tr>
                                        <th>Organism</th>
                                        <th>Gene</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="gene in expressionGenes.results">
                                        <td><span class="common-taxon-group"><img ng-src="{{gene['@id'] | geneIDToImage}}"></span></td>
                                        <td><a href="{{gene['@id'] | linkToGene}}"><span>{{gene.label}}</span></term-name></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <pagination total-items="expressionGenesTotal.total" ng-model="expressionGenesPage" max-size="expressionGenesMaxSize" class="pagination-sm" boundary-links="true" rotate="false"  items-per-page="expressionGenesLimit" cg-busy="expressionGenesTotal.$promise" ng-change="expressionGenesPageChanged(expressionGenesPage)"></pagination>
                        <p><label>Download all results:</label> <a class="btn btn-info btn-xs" target="_blank" href="http://kb.phenoscape.org/kb/gene/expressed_within_entity?limit=0&amp;iri={{termID | encodeURI}}" role="button">Text</a></p>
                    </tab>
                </tabset>
            </tab>
        </tabset>
    </div>
</div>