<h2>{{termLabel.label}} <small>{{termID | prefixedURI}}</small></h2>

<div>
    <a href="http://pkb-new.nescent.org/kb/genes_affecting_phenotype?entity={{termID | encodeURI}}&amp;quality={{'http://purl.obolibrary.org/obo/PATO_0000001' | encodeURI}}">Genes affecting phenotypes</a>
</div>

<div>
    <a href="http://pkb-new.nescent.org/kb/genes_expressed_in_structure?entity={{termID | encodeURI}}">Genes expressed within</a>
</div>

<div>
    <a href="http://pkb-new.nescent.org/kb/entity/presence?entity={{termID | encodeURI}}">Taxa exhibiting presence</a>
</div>

<div>
    <a href="http://pkb-new.nescent.org/kb/entity/absence?entity={{termID | encodeURI}}">Taxa exhibiting absence</a>
</div>

<h2>Evidence for presence of a structure</h2>
<form action="http://pkb-new.nescent.org/kb/entity/presence/evidence" method="get" onsubmit="document.getElementById('entity_pres_bioportal_full_id').setAttribute('name', 'entity'); document.getElementById('taxon_pres_bioportal_full_id').setAttribute('name', 'taxon');">
<label for="taxon_pres">Taxon:</label>
<input type="text" id="taxon_pres" name="taxon_pres" class="bp_form_complete-VTO-name"/>
<label for="entity_pres">Entity:</label>
<input type="text" id="entity_pres" name="entity_pres" class="bp_form_complete-UBERON-name"/>
<input type="submit"/>
</form>
<h2>Evidence for absence of a structure</h2>
<form action="http://pkb-new.nescent.org/kb/entity/absence/evidence" method="get" onsubmit="document.getElementById('entity_abs_bioportal_full_id').setAttribute('name', 'entity'); document.getElementById('taxon_abs_bioportal_full_id').setAttribute('name', 'taxon');">
<label for="taxon_abs">Taxon:</label>
<input type="text" id="taxon_abs" name="taxon_abs" class="bp_form_complete-VTO-name"/>
<label for="entity_abs">Entity:</label>
<input type="text" id="entity_abs" name="entity_abs" class="bp_form_complete-UBERON-name"/>
<input type="submit"/>
</form>