<h2 cg-busy="term.$promise"><span class="badge">Anatomy</span> {{term.label}} <small>{{termID | prefixedURI}}</small></h2>
<p>{{term.definition}}</p>
<div class="row">
    <div class= "col-sm-12">
        <tabset>
            <tab heading="Classification">
                <div class="panel panel-default top-buffer">
                    <div class="panel-body">
                        <classification iri="termID" link-filter="linkToEntity"></classification>
                    </div>
                </div>
            </tab>
            <tab heading="Taxa">
                <tabset type="pills" class="top-buffer">
                   <tab heading="Presence">
                       <div class="panel panel-default top-buffer">
                         <div class="panel-heading"><h4>Taxa exhibiting presence of {{term.label}}</h4></div>
                         <div class="panel-body">
                           <p>This query uses inference to determine if any character states entail the presence of <mark>{{term.label}}</mark> in a given taxon.</p>
                         </div>
                         <table class="table table-condensed table-striped" cg-busy="presentInTaxa.$promise">
                             <thead>
                                 <tr>
                                     <th>Taxon</th>
                                     <th></th>
                                 </tr>
                             </thead>
                             <tbody>
                                 <tr ng-repeat="taxon in presentInTaxa.results">
                                     <td>{{taxon.label}}</td>
                                     <td><a href="http://kb.phenoscape.org/kb/entity/presence/evidence?entity={{termID | encodeURI}}&amp;taxon={{taxon['@id'] | encodeURI}}">evidence</a></td>
                                 </tr>
                             </tbody>
                         </table>
                       </div>
                       <div>
                           <a href="http://kb.phenoscape.org/kb/entity/presence?entity={{termID | encodeURI}}&amp;limit=40">Download all taxa exhibiting presence of {{term.label}}</a>
                       </div>
                   </tab>
                   <tab heading="Absence" select="queryAbsentInTaxa();">
                       <div class="panel panel-default top-buffer">
                         <div class="panel-heading"><h4>Taxa exhibiting absence of {{term.label}}</h4></div>
                         <div class="panel-body">
                           <p>This query uses inference to determine if any character states entail the absence of <mark>{{term.label}}</mark> in a given taxon.</p>
                         </div>
                         <table class="table table-condensed table-striped" cg-busy="absentInTaxa.$promise">
                             <thead>
                                 <tr>
                                     <th>Taxon</th>
                                     <th></th>
                                 </tr>
                             </thead>
                             <tbody>
                                 <tr ng-repeat="taxon in absentInTaxa.results">
                                     <td>{{taxon.label}}</td>
                                     <td><a href="http://kb.phenoscape.org/kb/entity/absence/evidence?entity={{termID | encodeURI}}&amp;taxon={{taxon['@id'] | encodeURI}}">evidence</a></td>
                                 </tr>
                             </tbody>
                         </table>
                       </div>
                       <div>
                           <a href="http://kb.phenoscape.org/kb/entity/absence?entity={{termID | encodeURI}}&amp;limit=40">Download all taxa exhibiting absence of {{term.label}}</a>
                       </div>
                   </tab>
                 </tabset>
            </tab>
            <tab heading="Genes">
                <tabset type="pills" class="top-buffer">
                    <tab>
                        <tab-heading>Phenotype <span class="badge">{{phenotypeGenesTotal.total}}</span></tab-heading>
                        <div class="panel panel-default top-buffer">
                            <div class="panel-heading">
                                <h4>Genes affecting phenotype of this structure</h4>
                            </div>
                            <div class="panel-body">
                                <p>These genes have been annotated with phenotypes affecting <mark>{{term.label}}</mark>.</p>
                                <div class="checkbox well">
                                    <label>
                                      <input type="checkbox" ng-model="phenotypeGenesSettings.includeParts" ng-click="resetPhenotypeGenes();"> Include parts of {{term.label}}
                                    </label>
                                  </div>
                            </div>
                            <table class="table table-condensed table-striped" cg-busy="phenotypeGenes.$promise">
                                <thead>
                                    <tr>
                                        <th>Gene</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="gene in phenotypeGenes.results">
                                        <td><a href="{{gene['@id'] | linkToGene}}"><term-name iri="gene.label"></term-name></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <pagination total-items="phenotypeGenesTotal.total" ng-model="phenotypeGenesPage" max-size="phenotypeGenesMaxSize" class="pagination-sm" boundary-links="true" rotate="false"  items-per-page="phenotypeGenesLimit" cg-busy="phenotypeGenesTotal.$promise" ng-change="phenotypeGenesPageChanged(phenotypeGenesPage)"></pagination>
                    </tab>
                    <tab heading="Expression">
                        <p><a href="http://kb.phenoscape.org/kb/genes_expressed_in_structure?entity={{termID | encodeURI}}">Genes expressed within</a></p>
                    </tab>
                </tabset>
            </tab>
        </tabset>
    </div>
</div>