
<h2 cg-busy="gene.$promise"><span class="badge">Gene</span> {{gene.label}} <small>({{gene.taxon.label}})</small> <small><a href="{{geneID}}" target="_blank" class="link-no-color">{{geneID | prefixedURI}}</a></small></h2>
<div class="row">
    <div class= "col-sm-12">
        <tabset>
            <tab active="tabs.phenotypes.active" select="activateTab('phenotypes')">
                <tab-heading>Phenotypes <span class="badge">{{phenotypes.results.length}}</span></tab-heading>
                <div class="panel panel-default top-buffer">
                    <div class="panel-heading">
                        <h4>Phenotypes associated with {{gene.label}}</h4>
                    </div>
                    <div class="panel-body">
                        <p>These phenotypes have been directly annotated to <mark>{{gene.label}}</mark>.</p>
                    </div>
                    <table class="table table-condensed table-striped" cg-busy="phenotypes.$promise">
                        <thead>
                            <tr>
                                <th>Phenotype</th>
                                <th>Sources</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="phenotype in phenotypes.results">
                                <td>{{phenotype.label}}</td>
                                <td>
                                    <span ng-repeat="source in phenotype.sources"><a href="{{source['@id']}}" target="_blank">{{source['@id'] | modSourceLabel}}</a> </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </tab>
            <tab active="tabs.expression.active" select="activateTab('expression')">
                <tab-heading>Expression <span class="badge">{{expression.results.length}}</span></tab-heading>
                <div class="panel panel-default top-buffer">
                    <div class="panel-heading">
                        <h4>Expression locations associated with {{gene.label}}</h4>
                    </div>
                    <div class="panel-body">
                        <p><mark>{{gene.label}}</mark> has been annotated to have expression within these anatomical structures.</p>
                    </div>
                    <table class="table table-condensed table-striped" cg-busy="expression.$promise">
                        <thead>
                            <tr>
                                <th>Anatomical Structure</th>
                                <th>Sources</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="entity in expression.results">
                                <td><a href="{{entity['@id'] | linkToEntity}}">{{entity.label}}</a></td>
                                <td>
                                    <span ng-repeat="source in entity.sources"><a href="{{source['@id']}}" target="_blank">{{source['@id'] | modSourceLabel}}</a> </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </tab>
            <tab heading="Similar evolutionary variation" active="tabs.similarity.active" select="activateTab('similarity')">
                <gene-similarity-view subject="gene" corpus-graph="http://kb.phenoscape.org/sim/taxa" query-graph="http://kb.phenoscape.org/sim/genes"></gene-similarity-view>
            </tab>
        </tabset>
    </div>
</div>