<h2 cg-busy="gene.$promise">{{gene.label}} <small>({{gene.taxon.label}})</small> <small>{{geneID}}</small></h2>
<div class="row">
    <div class= "col-sm-12">
        <tabset>
            <tab heading="Phenotypes" active="tabs.phenotypes.active" select="activateTab('phenotypes')">
                <div class="panel panel-default" style="margin-top: 1em;">
                    <div class="panel-heading">
                        <h4>Phenotypes associated with {{gene.label}}</h4>
                    </div>
                    <div class="panel-body">
                        <p>These phenotypes have been directly annotated to <mark>{{gene.label}}</mark>.</p>
                    </div>
                    <table class="table table-condensed table-striped" cg-busy="phenotypes.$promise">
                        <thead>
                            <tr>
                                <th>Phenotype</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="phenotype in phenotypes.results">
                                <td>{{phenotype.label}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </tab>
            <tab heading="Expression" active="tabs.expression.active" select="activateTab('expression')">
                <p><i>Under construction.</i></p>
            </tab>
            <tab heading="Similar evolutionary variation" active="tabs.similarity.active" select="activateTab('similarity')">
                <similarity-view gene="gene"></similarity-view>
            </tab>
        </tabset>
    </div>
</div>