<div class="row">
    <div class="col-sm-9">
        <div class="alert alert-info" role="alert">
            <p>Welcome to the <a href="#/about/phenoscape/kb" class="alert-link">Phenoscape Knowledgebase</a> (or KB), a datastore of computable phenotypes for studies of evolution and genetics. You can explore a large number of manually curated annotations in the KB derived from the literature. These annotations, taken from trusted literature sources, report that a taxon (or genotype) shows variation in some quality (e.g. shape, size, etc.) in some entity (anatomical part), using controlled vocabulary terms from community ontologies that allow for <i>semantic reasoning</i> across diverse phenotypes from different organisms.</p>
            <p>Much of the recent evolutionary data in the KB is from the appendicular skeleton of sarcopterygian vertebrates, the clade in which the “fin to limb” transition occurred. Data from the first iteration of the KB, with broad coverage of ostariophysan fishes, is included here as well, and also available via the <a href="http://fish.phenoscape.org/" class="alert-link">previous KB software</a>. Phenotype data from gene disruptions have been imported for mouse (from <a href="http://www.informatics.jax.org" class="alert-link">MGI</a>), human (<a href="http://www.human-phenotype-ontology.org" class="alert-link">HPO</a>), zebrafish (<a href="http://zfin.org/" class="alert-link">ZFIN</a>), and frog (<a href="http://www.xenbase.org/" class="alert-link">Xenbase</a>).</p>
            <p>New features available in the KB include:
                <ul>
                    <li>Generation of synthetic presence/absence comparative data matrices (<a href="http://dx.doi.org/10.1093/sysbio/syv031" class="alert-link">Dececchi <i>et al</i>., 2015</a>)</li>
                    <li>Semantic similarity search for evolutionary variation related to gene phenotypes (<a href="http://dx.doi.org/10.1002/dvg.22878" class="alert-link">Manda <i>et al</i>., 2015</a>, <a href="http://phenoday2015.bio-lark.org/pdf/9.pdf" class="alert-link">Balhoff <i>et al</i>., 2015</a>)</li>
                </ul>
            </p>
        </div>
        <div class="row">
            <div class="col-sm-4 col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="example-heading">Search for taxa, anatomical structures, or genes</h5>
                    </div>
                    <div class="panel-body">
                        <p>Go straight to an item of interest using the search box at the top right of every page.</p>
                        <p><i>Try entering <b>Cypriniformes</b>, <b>femur</b>, or <b>bmp1a</b>.</i></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="example-heading">Find phenotypes annotated to a taxon</h5>
                    </div>
                    <div class="panel-body">
                        <p>View published phenotypes for a given taxon, aggregated from multiple comparative studies.</p>
                        <p><i>See <a href="#/taxon/http://purl.obolibrary.org/obo/VTO_0036225?phenotypes.quality_type=quality-phenotype&tab=phenotypes">phenotypes for the channel catfish <b>Ictalurus punctatus</b></a>.</i></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="example-heading">Find phenotypic data for an anatomical structure</h5>
                    </div>
                    <div class="panel-body">
                        <p>An anatomical ontology puts phenotypic data into a rich anatomical and developmental context.</p>
                        <p><i>Find <a href="#/entity/http://purl.obolibrary.org/obo/UBERON_0002513?tab=taxa&taxatab=phenotypes">taxa with phenotypic data</a> for any type of <b>endochondral bone</b>. Or <a href="#/entity/http://purl.obolibrary.org/obo/UBERON_0002513?tab=genes&taxatab=phenotypes&genestab=phenotypes">genes from mouse, zebrafish, frog, or human with phenotypic effects</a>.</i></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="example-heading">Find evolutionary variation similar to genetic phenotypes</h5>
                    </div>
                    <div class="panel-body">
                        <p>Using semantic similarity, the KB can perform fuzzy matching between suites of phenotypes, such as the various phenotypic effects of a gene vs. the profile of phenotypic variation within a given taxonomic group.</p>
                        <p><i>View taxonomic variation <a href="#/gene/http://zfin.org/ZDB-GENE-070117-2105?tab=similarity">similar to the phenotypic profile of the gene <b>apa</b></a>.</i></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="example-heading">View presence and absence of any anatomical structure across taxa</h5>
                    </div>
                    <div class="panel-body">
                        <p>Using the OntoTrace reasoning framework, the KB infers presence of absence of anatomical structure from both direct and indirect statements.</p>
                        <p><i>The pectoral fin is known to be <a href="#/entity/http://purl.obolibrary.org/obo/UBERON_0000151?tab=taxa&taxatab=presence&genestab=phenotypes">present in some taxa</a>, but <a href="#/entity/http://purl.obolibrary.org/obo/UBERON_0000151?tab=taxa&taxatab=absence&genestab=phenotypes">absent in others</a>. You can also view the phenotypic assertions leading to an inference, such as <a href="#/taxon/http://purl.obolibrary.org/obo/VTO_0058743?tab=phenotypes&phenotypes.quality_type=entailing-absence&phenotypes.entity=http:%2F%2Fpurl.obolibrary.org%2Fobo%2FUBERON_0000151">absence of <b>pectoral</b> fin in <b>Branchiostoma</b></a>.</i></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="example-heading">Download a character matrix of presence/absence inferred knowledge</h5>
                    </div>
                    <div class="panel-body">
                        <p>Configure a NeXML character matrix download for any type of anatomical structure and taxonomic group using the <a href="#/ontotrace">OntoTrace page</a>.</p>
                        <p><i>For example, you can create a <a href="http://kb.phenoscape.org/api/ontotrace?entity=%3Chttp%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FUBERON_0008897%3E&taxon=%3Chttp%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FVTO_0034953%3E&variable_only=true&parts=true">character matrix of presence/absence variation for any <b>fin structures and their parts</b> for <b>Ostariophysan fishes</b></a>.</i></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class= "col-sm-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Analysis tools</h3>
                <ul>
                    <li>
                        <a href="#/ontotrace">OntoTrace (anatomical presence/absence inference)</a>
                    </li>
                    <li>
                        <a href="#/similarity">Semantic similarity query</a>
                    </li>
                    <li>
                        <a href="#/annotate_text">Annotate text</a>
                    </li>
                </ul>
                <h3>Data API</h3>
                <p>This website is built on our publicly accessible web service APIs. Service documentation and automatically generated code examples are available via <a href="http://docs.phenoscapekb.apiary.io/">Apiary</a>.</p>
            </div>
        </div>
    </div>
</div>
