<div class="row">
    <div class="col-md-12">
        <div class="form-horizontal">
            <h3>Search for taxa with known presence or absence of a structure</h3>
            <input type="text" class="input-large" placeholder="Structure" ng-model="entity" />
            <button class="btn" ng-click="queryPresence();">Query</button>
        </div>
    </div>
</div>
<div class="row">
	<div class="col-md-6">
		<table class="table table-condensed table-striped">
			<thead>
				<tr>
					<th>Character State</th>
					<th>Source</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="state in presenceStates">
					<td>{{state.state_label.value}}</td>
					<td>{{state.matrix_label.value}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-6">
		<table class="table">
			<thead>
				<tr>
					<th>Character State</th>
					<th>Source</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="state in absenceStates">
					<td>{{state.state_label.value}}</td>
					<td>{{state.matrix_label.value}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
