<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title form-inline">Query for: <select class="form-control input-sm" ng-model="selectedPage" ng-options="opt.label for opt in queryPages"></select></h3>
  </div>
  <div class="panel-body">
      <form role="form">
          <div ng-show="options.includeTaxonGroup">
              <h4>Taxon is <button type="button" class="btn btn-default btn-xs pull-right" ng-click="queryTaxonValues.push({})">Add</button></h4>
              <p ng-show="queryTaxonValues.length &lt; 1"><i>any taxonomic group</i></p>
              <term-search-list terms="queryTaxonValues" query='searchTaxa' placeholder="taxonomic group"></term-search-list>
          </div>                  
          <h5><i>and</i></h5>
          <div ng-show="options.includeEntity">
              <h4>Phenotype entity is 
                  <div class="btn-group">
                      <label class="btn btn-default btn-xs" ng-model="parameters.matchAllEntities" btn-radio="false">any</label>
                      <label class="btn btn-default btn-xs" ng-model="parameters.matchAllEntities" btn-radio="true">all</label>
                  </div>
                  <button type="button" class="btn btn-default btn-xs pull-right" ng-click="queryEntityValues.push({})">Add</button>
              </h4>
              <p ng-show="queryEntityValues.length &lt; 1"><i>any anatomical entity</i></p>
              <term-search-list terms="queryEntityValues" query='searchEntities' placeholder="anatomical entity"></term-search-list>
          </div>
          <h5><i>and</i></h5>
          <div ng-show="options.includeExpressionEntity">
              <h4>Expression location is 
                  <div class="btn-group">
                      <label class="btn btn-default btn-xs" ng-model="parameters.matchAllExpressionEntities" btn-radio="false">any</label>
                      <label class="btn btn-default btn-xs" ng-model="parameters.matchAllExpressionEntities" btn-radio="true">all</label>
                  </div>
                  <button type="button" class="btn btn-default btn-xs pull-right" ng-click="queryExpressionEntityValues.push({})">Add</button>
              </h4>
              <p ng-show="queryExpressionEntityValues.length &lt; 1"><i>any anatomical entity</i></p>
              <term-search-list terms="queryExpressionEntityValues" query='searchEntities' placeholder="anatomical entity"></term-search-list>
          </div>
          <button type="button" class="btn btn-primary btn-block" disabled="disabled" ng-disabled="!queryDirty" ng-click="applyQueryFilter()">Apply Query</button>
      </form>
  </div>
</div>