<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Query for:</h3>
  </div>
  <div class="panel-body">
      <form role="form">
          <div>
              <h4>Taxon is <button type="button" class="btn btn-default btn-xs pull-right" ng-click="queryTaxonValues.push({})">Add</button></h4>
              <term-search-list terms="queryTaxonValues" query='searchTaxa' placeholder="any taxonomic group"></term-search-list>
          </div>                  
          <h5><i>and</i></h5>
          <div>
              <h4>Entity is 
                  <div class="btn-group">
                      <label class="btn btn-default btn-xs" ng-model="parameters.matchAllEntities" btn-radio="false">any</label>
                      <label class="btn btn-default btn-xs" ng-model="parameters.matchAllEntities" btn-radio="true">all</label>
                  </div>
                  <button type="button" class="btn btn-default btn-xs pull-right" ng-click="queryEntityValues.push({})">Add</button>
              </h4>
              <term-search-list terms="queryEntityValues" query='searchEntities' placeholder="any anatomical entity"></term-search-list>
          </div>
          <button type="button" class="btn btn-primary btn-block" disabled="disabled" ng-disabled="!queryDirty" ng-click="applyQueryFilter()">Apply Query</button>
      </form>
  </div>
</div>