<h2>Semantic Similarity</h2>
<p>Submit a gene, get back taxa!</p>
<div class="panel-body">
  <form role="form">
      <div>
          <h4>Gene:</h4>
          <div class="form-group" ng-class="{'has-success': geneToQuery, 'has-feedback': geneToQuery}">
              <input type="text" ng-model="geneToQuery" placeholder="any gene symbol" typeahead="gene as gene.label for gene in searchGenes($viewValue)" typeahead-loading="loadingGeneComplete" typeahead-wait-ms="300" typeahead-editable="false" class="form-control">
              <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="geneToQuery"></span>
              <i ng-show="loadingGeneComplete" class="glyphicon glyphicon-refresh"></i>
          </div>
      </div>
  </form>
  <div class="row">
      <div class="col-sm-5">
          <table class="table table-condensed table-striped" cg-busy="topMatches.$promise">
              <thead>
                  <tr>
                      <th>Taxon</th>
                      <th>Score</th>
                  </tr>
              </thead>
              <tbody>
                  <tr ng-repeat="match in topMatches.results" ng-click="selectMatch(match);">
                      <td><a href="{{match.match_profile['@id']}}" target="_blank">{{match.match_profile.label}}</a></td>
                      <td>{{match.score | number : 2}}</td>
                  </tr>
              </tbody>
          </table>
      </div>
      <div class="col-sm-7">
          <div class="panel panel-default" style="margin-top: 1em;">
            <div class="panel-heading">{{selectedMatch.match_profile.label}}</div>
            <div class="panel-body">
              <p>Info about matched taxon.</p>
            </div>
            <table class="table table-condensed table-striped" cg-busy="topSubsumers.$promise">
                <thead>
                    <tr>
                        <th>Match</th>
                        <th>Score</th>
                        <th>Gene Phenotypes</th>
                        <th>Taxon Phenotypes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="subsumer in topSubsumers.results">
                        <td>{{subsumer['@id'] | prefixedURI}}</td>
                        <td>{{subsumer.ic | number : 2}}</td>
                        <td>
                            <ul cg-busy="subsumer.query_annotations.$promise">
                                <li ng-repeat="annotation in subsumer.query_annotations.results">{{annotation | prefixedURI}}</li>
                            </ul>
                        </td>
                        <td>
                            <ul cg-busy="subsumer.match_annotations.$promise">
                                <li ng-repeat="annotation in subsumer.match_annotations.results">{{annotation | prefixedURI}}</li>
                            </ul>
                        </td>
                   </tr>
                </tbody>
            </table>
          </div>
      </div>
    </div>
</div>


