<h2><span class="badge">Taxon</span> <taxon-name iri="taxonID"></taxon-name> <small>{{taxonID | prefixedURI}}</small></h2>
<div class="row">
    <div class= "col-sm-12">
        <tabset>
            <tab heading="Classification" active="tabs.classification.active" select="activateTab('classification')">
                <div class="panel panel-default top-buffer">
                    <div class="panel-body">
                        <classification iri="taxonID" link-filter="linkToTaxon"></classification>
                    </div>
                </div>
            </tab>
            <tab active="tabs.phenotypes.active" select="activateTab('phenotypes')">
                <tab-heading>Phenotypes <span class="badge">{{phenotypeProfileTotal.total}}</span></tab-heading>
                <div class="panel panel-default top-buffer">
                    <div class="panel-heading">
                        <h4>Phenotypes directly annotated to this taxon</h4>
                    </div>
                    <div class="panel-body">
                        <p>These phenotypes have been annotated from character states directly associated with <mark>{{taxon.label}}</mark> in source data.</p>
                    </div>
                    <table class="table table-condensed table-striped" cg-busy="phenotypeProfile.$promise">
                        <thead>
                            <tr>
                                <th>Character Description</th>
                                <th>Source</th>
                                <th>Ontology Annotation</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="annotation in phenotypeProfile.results">
                                <td><span title="annotation['@id']">{{annotation.description}}</span></td>
                                <td><span title="annotation.matrix['@id']">{{annotation.matrix.label}}</span></td>
                                <td><span title="annotation.phenotype['@id']">{{annotation.phenotype.label}}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <pagination total-items="phenotypeProfileTotal.total" ng-model="phenotypeProfilePage" max-size="phenotypeProfileMaxSize" class="pagination-sm" boundary-links="true" rotate="false"  items-per-page="phenotypeProfileLimit" cg-busy="phenotypeProfileTotal.$promise" ng-change="phenotypeProfilePageChanged(phenotypeProfilePage)"></pagination>
            </tab>
            <tab active="tabs.variation.active" select="activateTab('variation')">
                <tab-heading>Variation profile <span class="badge">{{variationProfileTotal.total}}</span></tab-heading>
                <div class="panel panel-default top-buffer">
                    <div class="panel-heading">
                        <h4>Phenotypes varying among immediate children of this taxon</h4>
                    </div>
                    <div class="panel-body">
                        <p>These phenotypes have been associated with the variation profile of <mark>{{taxon.label}}</mark> using an ancestral state reconstruction method.</p>
                    </div>
                    <table class="table table-condensed table-striped" cg-busy="variationProfile.$promise">
                        <thead>
                            <tr>
                                <th>Phenotype</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="phenotype in variationProfile.results">
                                <td><term-name iri="phenotype['@id']"></term-name></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <pagination total-items="variationProfileTotal.total" ng-model="variationProfilePage" max-size="variationProfileMaxSize" class="pagination-sm" boundary-links="true" rotate="false"  items-per-page="variationProfileLimit" cg-busy="variationProfileTotal.$promise" ng-change="variationProfilePageChanged(variationProfilePage)"></pagination>
            </tab>
            <tab heading="Misc" active="tabs.misc.active" select="activateTab('misc')">
                <div class="panel panel-default top-buffer">
                    <div class="panel-body">
                        <a href="http://kb.phenoscape.org/kb/taxon/newick?iri={{taxonID | encodeURI}}">Get Newick tree for this taxon (based on the VTO classification)</a>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>
</div>