<h2><span class="badge">Taxon</span> <taxon-name iri="taxonID"></taxon-name> <span ng-show="taxon.common_name">({{taxon.common_name}})</span> <small><a href="{{taxonID}}" target="_blank" class="link-no-color">{{taxonID | prefixedURI}}</a></small></h2>
<div class="row">
    <div class= "col-sm-12">
        <tabset>
            <tab heading="Properties" active="tabs.properties.active" select="activateTab('properties')">
                <div class="panel panel-default top-buffer">
                    <div class="panel-body">
                        <taxon-classification iri="taxonID" defined-by="http://purl.obolibrary.org/obo/vto.owl" link-filter="linkToTaxon"></taxon-classification>
                    </div>
                </div>
                <p><label>Get Newick tree for this taxon (based on the VTO classification):</label> <a class="btn btn-info btn-xs" target="_blank" ng-href="http://kb.phenoscape.org/kb/taxon/newick?iri={{taxonID | encodeURI}}" role="button">Text</a></p>
            </tab>
            <tab active="tabs.phenotypes.active" select="activateTab('phenotypes')">
                <tab-heading>Phenotypes <span class="badge">{{phenotypeProfileTotal.total}}</span></tab-heading>
                <div class="panel panel-default top-buffer">
                    <div class="panel-heading">
                        <h4>Phenotypes directly annotated to this taxon</h4>
                    </div>
                    <div class="panel-body">
                        <p>These phenotypes have been annotated from character states directly associated with <mark>{{taxon.label}}</mark> in source data.</p>
                        <div class="well">
                            <form class="form-inline">
                                <div class="form-group" ng-class="{'has-success': filters.phenotypesEntityFilter, 'has-feedback': filters.phenotypesEntityFilter}">
                                    <label for="entityInputPhenotypes">Anatomy</label>
                                    <input id="entityInputPhenotypes" type="text" ng-model="filters.phenotypesEntityFilter" placeholder="any anatomical entity" typeahead="entity as entity.label for entity in autocompleteEntity($viewValue)" typeahead-loading="loadingEntityPhenotypes" typeahead-wait-ms="300" typeahead-editable="false" class="form-control">
                                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="filters.phenotypesEntityFilter"></span>
                                    <i ng-show="loadingEntityPhenotypes" class="glyphicon glyphicon-refresh"></i>
                                </div>
                                <div class="form-group">
                                    <label style="width: 100%"> Quality
                                        <div class="radio">
                                            <label style="width: 100%">
                                                <input type="radio" name="qualityRadio" value="quality-phenotype" ng-model="filters.quality_type">
                                                <div class="form-group" ng-class="{'has-success': filters.phenotypesQualityFilter, 'has-feedback': filters.phenotypesQualityFilter}">
                                                    <input id="qualityInputPhenotypes" type="text" ng-model="filters.phenotypesQualityFilter" placeholder="any phenotypic quality" typeahead="quality as quality.label for quality in autocompleteQuality($viewValue)" typeahead-loading="loadingQualityPhenotypes" typeahead-wait-ms="300" typeahead-editable="false" class="form-control" ng-disabled="filters.quality_type != 'quality-phenotype'">
                                                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="filters.phenotypesQualityFilter"></span>
                                                    <i ng-show="loadingQualityPhenotypes" class="glyphicon glyphicon-refresh"></i>
                                                </div>
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label style="width: 100%">
                                                <input type="radio" name="qualityRadio" value="entailing-presence" ng-model="filters.quality_type" ng-disabled="!filters.phenotypesEntityFilter">
                                                Entailing presence
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label style="width: 100%">
                                                <input type="radio" name="qualityRadio" value="entailing-absence" ng-model="filters.quality_type" ng-disabled="!filters.phenotypesEntityFilter">
                                                Entailing absence
                                            </label>
                                        </div>
                                    </label>
                                </div>
                            </form>
                        </div>
                    </div>
                    <table class="table table-condensed table-striped" cg-busy="phenotypeProfile.$promise">
                        <thead>
                            <tr>
                                <th>Phenotype</th>
                                <th>Source</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="annotation in phenotypeProfile.results">
                                <td><span title="{{annotation.phenotype['@id']}}">{{annotation.phenotype.label}}</span></td>
                                <td><a href="{{annotation.matrix['@id'] | linkToStudy}}">{{annotation.matrix.label}}</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <pagination total-items="phenotypeProfileTotal.total" ng-model="phenotypeProfilePage" max-size="phenotypeProfileMaxSize" class="pagination-sm" boundary-links="true" rotate="false"  items-per-page="phenotypeProfileLimit" cg-busy="phenotypeProfileTotal.$promise" ng-change="phenotypeProfilePageChanged(phenotypeProfilePage)"></pagination>
                <p><label>Download all results:</label> <a class="btn btn-info btn-xs" target="_blank" ng-href="{{linkToTaxonPhenotypeProfileDownload}}" role="button">Text</a></p>
            </tab>
            <tab active="tabs.variation.active" select="activateTab('variation')">
                <tab-heading>Variation profile <span class="badge">{{variationProfileTotal.total}}</span></tab-heading>
                <div class="panel panel-default top-buffer">
                    <div class="panel-heading">
                        <h4>Phenotypes varying among immediate children of this taxon</h4>
                    </div>
                    <div class="panel-body">
                        <p>These phenotypes have been associated with the variation profile of <mark>{{taxon.label}}</mark> using an ancestral state reconstruction method.</p>
                    </div>
                    <table class="table table-condensed table-striped" cg-busy="variationProfile.$promise">
                        <thead>
                            <tr>
                                <th>Phenotype</th>
                                <th>Source</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="annotation in variationProfile.results">
                                <td><span title="{{annotation.phenotype['@id']}}">{{annotation.phenotype.label}}</span></td>
                                <td><a href="{{annotation.matrix['@id'] | linkToStudy}}">{{annotation.matrix.label}}</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <pagination total-items="variationProfileTotal.total" ng-model="variationProfilePage" max-size="variationProfileMaxSize" class="pagination-sm" boundary-links="true" rotate="false"  items-per-page="variationProfileLimit" cg-busy="variationProfileTotal.$promise" ng-change="variationProfilePageChanged(variationProfilePage)"></pagination>
            </tab>
            <tab heading="Similar gene phenotypes" active="tabs.similarity.active" select="activateTab('similarity')">
                <taxon-similarity-view subject="taxon" corpus-graph="http://kb.phenoscape.org/sim/genes" query-graph="http://kb.phenoscape.org/sim/taxa"></taxon-similarity-view>
            </tab>
        </tabset>
    </div>
</div>