<!DOCTYPE html>
<html lang="en" ng-app="pkb">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Phenoscape Knowledgebase</title>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<!-- <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css"> -->
    <link rel="stylesheet" href="bower_components/angular-busy/dist/angular-busy.min.css">
    <link rel="stylesheet" href="css/app.css"/>
</head>
<body>
	<div class="container-fluid" ng-controller="AppController">
        <div class="row bottom-buffer">
            <div class="col-xs-8">
                <div class="btn-toolbar">
                    <h1><img id="phenoscape_logo" src="img/phenoscape_logo.png"><a href="#/home">Phenoscape Knowledgebase</a></h1>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">About <span class="caret"></span></button> 
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#/about/phenoscape">Phenoscape</a></li>
                            <li><a href="#/about/phenoscape/kb">Phenoscape Knowledgebase</a></li>
                        </ul> 
                    </div>
                    <a class="btn btn-primary btn-sm" role="button" href="https://github.com/phenoscape/phenoscape-kb-ui/issues" target="_blank"><i>Feedback</i></a>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="panel panel-default top-buffer">
                    <div class="panel-body">
                        <form role="form" ng-submit="performSearches();">
                            <div class="form-group">
                                <label for="mainSearch">Find an item by name</label>
                                <div class="input-group">
                                    <input id="mainSearch" type="text" class="form-control input-sm" placeholder="Taxa, anatomical structures, genes..." ng-model="searchText" ng-change="clearResults();">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default btn-sm" type="button" ng-click="clearSearch();">&times;</button>
                                    </span>
                                </div>
                            </div>
                        </form>
                        <div style="margin-top: 1em;" ng-show="searchText &amp;&amp; (anatomyResults)">
                            <accordion close-others="true" class="search-accordion">
                                <accordion-group heading="Anatomical structures" is-disabled="!anatomyResults.results.length > 0" cg-busy="anatomyResults.$promise" class="search-accordion-group">
                                    <ul class="list-inline">
                                        <li ng-repeat="anatomyTerm in anatomyResults.results"><a href="#/entity/{{anatomyTerm['@id'] | encodeURI }}"  ng-click="clickLink()">{{anatomyTerm.label}}</a></li>
                                    </ul>
                                </accordion-group>
                                <accordion-group heading="Taxa" is-disabled="!taxaResults.results.length > 0" cg-busy="taxaResults.$promise" style="box-shadow: 10px 10px 5px #888888;">
                                  <ul class="list-inline">
                                      <li ng-repeat="taxon in taxaResults.results"><a href="#/taxon/{{taxon['@id'] | encodeURI }}" ng-click="clickLink()">{{taxon.label}}</a></li>
                                  </ul>
                                </accordion-group>
                                <accordion-group heading="Genes" is-disabled="!geneResults.results.length > 0" cg-busy="geneResults.$promise" style="box-shadow: 10px 10px 5px #888888;">
                                    <ul class="list-inline">
                                        <li ng-repeat="gene in geneResults.results"><a href="#/gene/{{gene['@id'] | encodeURI}}" ng-click="clickLink()">{{gene.label}} <small>({{gene.taxon.label}})</small></a></li>
                                    </ul>
                                </accordion-group>
                            </accordion>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    	<div ng-view></div>
        
        <div class="row">
            <div class= "col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h6>The Phenoscape project is funded by NSF grants DBI-1062404 and DBI-1062542, and supported by the National Evolutionary Synthesis Center (NESCent), NSF EF-0905606.</h6>
                    </div>
                </div>
            </div>
        </div>
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <script src="bower_components/angular-busy/dist/angular-busy.min.js"></script>
        <script src="bower_components/underscore/underscore-min.js"></script>
        <script src="bower_components/inspector-gadget/inspector-gadget.min.js"></script>
        <script src="bower_components/d3/d3.min.js"></script>
        <script src="bower_components/vega/vega.min.js"></script>
        <script src="bower_components/ng-vega/dist/ng-vega.min.js"></script>
        <script src="js/ng-scientific-notation/scientific-notation.js"></script>
        <script src="js/app.js"></script>
        <script src="js/services.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/filters.js"></script>
        <script src="js/directives.js"></script>
        
	</div>
	</body>
	</html>
