<table class="smart-table">
    <thead>
    <tr class="smart-table-global-search-row" ng-show="isGlobalSearchActivated">
        <td class="smart-table-global-search" column-span="{{columns.length}}" colspan="{{columnSpan}}">
        </td>
    </tr>
    <tr class="smart-table-header-row">
        <th ng-repeat="column in columns" ng-include="column.headerTemplateUrl"
            class="smart-table-header-cell {{column.headerClass}}" scope="col">
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="dataRow in displayedCollection" ng-class="{selected:dataRow.isSelected}"
        class="smart-table-data-row">
        <td ng-repeat="column in columns" class="smart-table-data-cell {{column.cellClass}}"></td>
    </tr>
    </tbody>
    <tfoot ng-show="isPaginationEnabled">
    <tr class="smart-table-footer-row">
        <td colspan="{{columns.length}}">
            <div pagination-smart-table="" num-pages="numberOfPages" max-size="maxSize" current-page="currentPage"></div>
        </td>
    </tr>
    </tfoot>
</table>


