/* app css stylesheet */

body {
  background: #666666;
}

.container {
  margin: 15px auto;
  padding: 0;
}

.container > .modal > .modal-dialog {
  max-width: 600px;
}

.container > .panel {
  max-width: 600px;
  margin: 0 auto;
}

.container > .panel > .panel-body {
  max-height: 500px;
  overflow: auto;
}