/* app css stylesheet */

html {
  background-color: gray;
  box-shadow: 0.2em 0.2em #000;
}

body {
  margin: 15px;
  border: 1px #fff solid;
  border-radius: 8px;
  box-shadow: 0.0em 0.2em 0.1em #000;
}

/*table {
    width: 100%;
}

thead, tbody, tr, td, th { display: block; }

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 30px;
}

tbody {
    height: auto;
    overflow-y: auto;
}


tbody td, thead th {
    width: 19.2%;
    float: left;
}*/