<div>
    <form name="form" class="css-form" novalidate>
        <label>Name:
            <input type="text" ng-model="user.name" name="uName" required="" />
        </label>
        <br />
        <div ng-show="form.$submitted || form.uName.$touched">
            <!-- <div ng-show="form.uName.$error.required">Tell us your name.</div> -->
        </div>

        <label>E-mail:
            <input type="email" ng-model="user.email" name="uEmail" required="" />
        </label>
        <br />
        <div ng-show="form.$submitted || form.uEmail.$touched">
            <!-- <span ng-show="form.uEmail.$error.required">Tell us your email.</span>
            <span ng-show="form.uEmail.$error.email">This is not a valid email.</span> -->
        </div>
        <label>Address:
            <input type="address" ng-model="user.address" name="uAddress" required="" />
        </label>
        <br />
        <label>Zipcode:
            <input type="zipcode" ng-model="zipcode.email" name="uZipcode" required="" />
        </label>
        <br />
        <label>City:
            <input type="city" ng-model="city.email" name="uCity" required="" />
        </label>
        <br />
        <label>State:
            <input type="status" ng-model="state.email" name="uState" required="" />
        </label>
        <br /> Gender:
        <label><input type="radio" ng-model="user.gender" value="male" />male</label>
        <label><input type="radio" ng-model="user.gender" value="female" />female</label>
        <br />
        <label>
            <input type="checkbox" ng-model="user.agree" name="userAgree" required="" /> I agree:
        </label>
        <input ng-show="user.agree" type="text" ng-model="user.agreeSign" required="" />
        <br />
        <div ng-show="form.$submitted || form.userAgree.$touched">
            <!-- <div ng-show="!user.agree || !user.agreeSign">Please agree and sign.</div> -->
        </div>

        <input type="button" ng-click="reset(form)" value="Reset" />
        <input type="submit" ng-click="update(user)" value="Save" />
    </form>
    <!-- <pre>user = {{user | json}}</pre>
    <pre>master = {{master | json}}</pre> -->
</div>