<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content--> 

      Search: <input ng-model="$ctrl.query" />
   </div>
    <div class="col-md-10">
      <!--Body content-->
      <ul class="vehicles">
        <li ng-repeat="vehicle in $ctrl.vehicles | filter:$ctrl.query">
          <span> {{ vehicle.year }} </span>
          <span> {{ vehicle.make }} </span>
          <span> {{ vehicle.model }} </span>
        </li>
      </ul>
    </div>
  </div>
</div>