<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Directed Graph Editor</title>
        <link rel="stylesheet" href="../css/d3-graph.css">
        <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">


    </head>

    <body>
    <form action="/api/nodes/create" method="post" enctype="multipart/form-data" ng-controller="ApplicationController">
        <div class="panel panel-success info-table-big" id="n-table" style="display:none; overflow: auto;"  >
            <div class="panel-heading">Node settings</div>
            <table width="350">

                <tr >
                    <td width="50%">Id:</td><td><input type="text" id="n-id" name="id"></td>
                </tr>
                <tr >
                    <td width="50%">Description:</td><td><input type="text" id="n-descr" name="description"></td>
                </tr>
                <tr >
                    <td width="50%">Executable:</td><td><input type="file" id="n-cmd" name="cmdFile"><input type="text" id="n-cmd-name" hidden="" name="fileNameCmd"></td>
                </tr>
                <tr >
                    <td width="50%">Architecture:</td><td><input type="text" id="n-arch" name="architecture"></td>
                </tr>
                <tr >
                    <td width="50%">OS:</td><td><input type="text" id="n-os" name="os"></td>
                </tr>
                <tr >
                    <td width="50%">RAM:</td><td><input type="text" id="n-ram" name="ram"></td>
                </tr>
                <tr >
                    <td width="50%">Disk:</td><td><input type="text" id="n-disk" name="disk"></td>
                </tr>
                <tr >
                    <td width="50%">CPU time:</td><td><input type="text" id="n-cputime" name="cputime"></td>
                </tr>
                <tr >
                    <td width="50%">Input file:</td><td ><input type="file" id="n-inf" name="inputFile"><input type="text" id="n-inf-name" hidden="" name="fileNameInput"></td>
                </tr>
                <tr >
                    <td width="50%">STD out:</td><td ><input type="text" id="n-stdoutf" name="stdout"></td>
                </tr>
                <tr >
                    <td width="50%">STD err:</td><td ><input type="text" id="n-stderrf" name="stderr"></td>
                </tr>
                <tr >

                    <td  width="175" ><input type="submit" id="n-bsave" value="Применить"  onclick="saveNode()"></td>
                    <td width="175"   ><input type="button" id="n-close" value="Закрыть" onclick="closeEl(document.getElementById('n-table'))"></td>
                </tr>
            </table>       
        </div>
        </form>

        <div class="panel panel-success info-table-small" id="l-table" style="display: none"  >
            <div class="panel-heading">Network settings</div>
            <table width="320">
                <tr >
                    <td width="40%"><input type="radio" id="syn" name="r-syn" value="syn" > syn
                        <input type="radio" id="notsyn" name="r-syn" value="notsyn" > notsyn</td> 
                </tr >
                <tr >
                    <td width="40%">Data transfer size:</td><td><input type="text" id="l-capacity"></td>
                </tr>
                <tr >
                    <td width="40%">Time/speed:</td><td><input type="text" id="l-speed"></td>
                </tr>   
                <tr >
                    <td  width="175" ><input type="button" id="l-bsave" value="Применить" onclick="saveLink()"></td>
                    <td width="175"   ><input type="button" id="l-close" value="Закрыть" onclick="closeEl(document.getElementById('l-table'))"></td>
                </tr>
            </table>       
        </div>
        <script src="../js/libs/FileSaver.js"></script>
        <script src="../bower_components/d3/d3.js"></script>

        <script src="../js/d3-graph.js"></script>
        <script type="text/javascript">
            function getCookie(name) {
                  var matches = document.cookie.match(new RegExp(
                  "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
                ))
                  return matches ? decodeURIComponent(matches[1]) : undefined
            	}
        document.getElementById('n-cmd').onchange = function () {
            document.getElementById('n-cmd-name').value=this.files[0].name;
            var userId =getCookie("uid").replace(/\"/g,'');
            var newinput = document.createElement('input');
            newinput.setAttribute('id',"uid");
            newinput.setAttribute('name',"uid");
            newinput.setAttribute('type',"text");
            newinput.setAttribute('hidden',"");
            newinput.setAttribute('value',userId);
            document.getElementById('n-table').appendChild(newinput);
            var userId =getCookie("taskUid").replace(/\"/g,'');
            newinput = document.createElement('input');
            newinput.setAttribute('id',"taskUid");
            newinput.setAttribute('name',"taskUid");
            newinput.setAttribute('type',"text");
            newinput.setAttribute('hidden',"");
            newinput.setAttribute('value',userId);
            document.getElementById('n-table').appendChild(newinput);
        };
        document.getElementById('n-inf').onchange = function () {
            document.getElementById('n-inf-name').value=this.files[0].name;
        };



    </script>
    </body>
</html>