<div class="container" id="home-page">
  <p class="biggest-stylish font-effect-3d-float">Shan He</p>
  <p class="big-stylish font-effect-3d-float">Personal Website with <strong>creation</strong> and <strong>passion</strong>!</p>

  <div id="social-box" class="container">
    <div class="span2">
      <span class="icon-facebook"></span>
    </div>
  </div>

  <div class="container">
    <div class="span4 offset4">
      <div class="progress progress-striped progress-success active">
        <div class="bar large" style="width:60%;"></div>
      </div>
      <div>
        <p class="normal-stylish font-effect-3d-float text-center">Website is under construction...</p>
      </div>
    </div>
  </div>


</div>

    
<div class="front-bg">
  <img src="img/dark-1.jpg" class="front-image" />
</div>