<div class="container">
    <div class="jumbotron">
	<h1>Welcome to WEB-GRID WMS</h1>
	<p class="lead">Create, Edit, Share and Execute Grid Workflows</p>
	<p>
		<a class="btn btn-lg btn-success" href="#editor" ng-if="currentUser">Get started today</a>
        <a class="btn btn-lg btn-success" href="#registration" ng-if="!currentUser">Registration</a>
	</p>
</div>

<div class="row">
	<div class="col-lg-4">
		<h2>Simple</h2>
		<p>Create and edit workflows using simple web UI. No configuration files editing is needed!</p>
	</div>
	<div class="col-lg-4">
		<h2>Powerful</h2>
		<p>Use powerful clusters to process your data. Choose between variety of architecures, OS, characteristics</p>
	</div>
	<div class="col-lg-4">
		<h2>Secure &amp; Reliable</h2>
		<p>Your data is transfered using secure connection and your proxy certificate. Don't afraid of failures as Simplicate will automatially recover your workflow in case of failure.</p>
	</div>
</div>
    </div> <!-- /container -->