<p>This is the partial for view 1.</p>
<p bsoi></p>

</hr>
<h2>Todo</h2>
<div ng-controller="MyCtrl2">
	<span id="todoRemaining">{{remaining()}} of {{todos.length}} remaining</span>
	[ <a href="" ng-click="archive()">archive</a> ]
	<ul id="todoList">
		<li ng-repeat="todo in todos">
			<input type="checkbox" ng-model="todo.done">
			<span class="done-{{todo.done}}">{{todo.text}}</span>
		</li>
	</ul>
	<form ng-submit="addTodo()">
		<input id="todoInput" type="text" ng-model="todoText" size="30" placeholder="add new todo here">
		<input id="todoAdd" class="btn-primary" type="submit" value="add">
	</form>

</div>