<div class="container">
    <h1>Upload your credentials</h1>

    <form id="attributeForm" class="form-horizontal" name="registrationForm" ng-controller="RegistrationCtrl"
            ng-submit="registration(credentials)">

        <div class="form-group">
            <label class="control-label">User cert</label>
            <input  id="certfile" name="certfile" type="file"  file-model="credentials.certfile"/>
        </div>

        <div class="form-group">
            <label class="control-label">User key</label>
            <input  id="keyfile" name="keyfile" type="file" file-model="credentials.keyfile"/>
        </div>

        <div class="form-group">
            <label class="control-label">Password for cert</label>
            <input  id="certpassword" name="certpassword" type="password" class="form-control" ng-model="credentials.certpassword"/>
        </div>
        <button id="submit" type="submit" class="btn btn-success">Submit</button>
    </form>

</div>