<div class="container" ng-if="!currentUser">
    <h1>Register Now</h1>

    <form id="attributeForm" class="form-horizontal" name="registrationForm" ng-controller="RegistrationCtrl">

        <div class="form-group">
            <label class="control-label">Given Name</label>
            <input name="name" minlength="2" type="text" required class="form-control" ng-model="credentials.name"/>
        </div>
        <div class="form-group">
            <label class="control-label">Email</label>
            <input class="form-control" type="email" name="email" required ng-model="credentials.email"/>
        </div>

        <div class="form-group">
            <label class="control-label">Login</label>
            <input id="login"  type="text" class="form-control" ng-model="credentials.login" name="login" required onblur="checkLogin();"/>
            <label id="login-used" class="err" for="login" style="display: none">Login is used.</label>
        </div>

        <div class="form-group">
            <label class="control-label">Password</label>
            <input  id ="passwordC" name ="passwordC" type="password" class="form-control" />
        </div>

        <div class="form-group">
            <label class="control-label">Password Confirm</label>
            <input  id="password" name="password" type="password" class="form-control" class="form-control" ng-model="credentials.password"/>
        </div>



        <button id="submit" type="submit" class="btn btn-success">Submit</button>
    </form>

    <script>
        $.validator.setDefaults({
            submitHandler: function() {
                angular.element($('#attributeForm')).scope().registration(angular.element($('#attributeForm')).scope().credentials);
            }
        });
        function checkLogin() {
            angular.element($('#attributeForm')).scope().checkLogin(angular.element($('#attributeForm')).scope().credentials);
        }
        $("#attributeForm").validate({
            rules: {
                password: "required",
                passwordC: "required",
                password: {
                    equalTo: '#passwordC'
                }
            }
        });

    </script>
</div>

<div class="alert alert-danger container" role="alert" ng-if="currentUser">You are sign in.</div>

