<div class="container">
    <div class="row">
        <div class="col-md-1 ">
            <div class="btn-group-vertical pull-right" style="padding-top: 35px">
                <button type="button" class="btn btn-default" ng-click=""><span class="glyphicon glyphicon-play"></span></button>
                <button type="button" class="btn btn-default" ng-click=""><span class="glyphicon glyphicon-pause"></span></button>
                <button type="button" class="btn btn-default" ng-click=""><span class="glyphicon glyphicon-remove-circle"></span></button>
                <button type="button" class="btn btn-default" ng-click=""><span class="glyphicon glyphicon-repeat"></span></button>
            </div>
</div>
        <div class="col-md-11">
            <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>T start</th>
                        <th>Status</th>

                    </tr>
                    </thead>
                    <tbody>

                    <tr class="success">
                        <td>1</td>
                        <td>task 2</td>
                        <td>Пнд Май 11 18:41:41 EEST 2014</td>
                        <td>finish</td>
                    </tr>
                    <tr class="active">
                        <td>2</td>
                        <td>task 1</td>
                        <td>Пнд Май 12 18:41:41 EEST 2014</td>
                        <td>processing</td>
                    </tr>
                    <tr class="success">
                        <td>3</td>
                        <td>task 3</td>
                        <td>Пнд Май 10 18:41:41 EEST 2014</td>
                        <td>finish</td>
                    </tr>
                    <tr class="warning">
                        <td>4</td>
                        <td>task 4</td>
                        <td>Пнд Май 10 18:41:41 EEST 2014</td>
                        <td>waiting</td>
                    </tr>
                    <tr class="danger">
                        <td>5</td>
                        <td>task 5</td>
                        <td>Пнд Май 12 18:41:41 EEST 2014</td>
                        <td>error</td>
                    </tr>
                    </tbody>
                </table>
</div>
        </div>

</div> <!-- /container -->