/* app css stylesheet */

body {
  font-family: "Open Sans",sans-serif;
  font-weight:lighter;
}

h1,h2,h3 {
  font-family: "Roboto Slab";
}
.menu {
  list-style: none;
  float:top;
  margin:0px;
} ul {
  display: inline-block;
  font-size: 20px;
}


.menu > li {
  display: inline;
} a:link {
  text-decoration: none;
  color:white;
} a:visited {
    text-decoration: none;
    color:white;
} a:hover {
    color:white;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
#menu {
  background-color: #0aaae7;

} .ch-logo{
  width:5em;
  height: 5em;
  display:inline-block;
}

.mini-bar {
  background-color: #06476b;
  height:3em;
  margin:0;
  color:#d8f0fd;
}

#why-course-hero{
/*  background-image: url("https://static.pexels.com/photos/232/apple-iphone-books-desk.jpg");*/
  height:40em;
  padding-top:3%;
  background-color:#f1f1f1;
 /*  background-image: url("https://static.pexels.com/photos/5377/books-bookshop-magazines.jpg");
   background-size: 100%;*/
}
#about-me{
  position: relative;
  padding:3%;
  background-color:#f1f1f1;
  padding-bottom:0px;
} img{
  margin-left:10%;
}
#todo-wrapper{
  display:inline-block;
  margin-left:10%;
  width:20em;
  height:30em;
  border-top: 2px solid #ff911a;
  background-color: white;
  padding:10px;
  color:#3d3d3d;
} h3 {
  color:#06476b;
  text-align: center;
}

.add-btn, .clear-btn {
  border-radius:5px;
  color:white;
  font-weight:600;
  background:#0aaae7;
  -webkit-box-shadow: inset 0 -3px 0 #088fc4;
  box-shadow: inset 0 -3px 0 #088fc4;
  text-align: center;
  border: 0 solid transparent;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 10px;
  height: 42px;
}

#why {
  float:right;
  display:inline-block;
  background-color: white;
  width:45em;
  height:30em;
  margin-right:10%;
  border-top:2px solid #ff911a;
  padding:10px;
  vertical-align: top;
} h2{
  color:#06476b;
  text-align: center;
}

#why-ch-table {
  width:100%;
} td {
  padding:10px;
  padding-bottom:15px;
}

.fa {
color:#0aaae7;
}

#profile-pic {
  display:inline-block;
}
#intro {
  display:inline-block;
  margin-left: 5%;
  vertical-align: top;
}
  #intro > h1 {
    font-size: 36px;
    color:#06476b;
  }
  #intro > p {
    font-size:20px;
  }


