body{
    background-color: white;
}

.wrapper{
    position: fixed;
    top: 0px;
    left:0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 100%;

    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow:    0px 0px 30px 0px rgba(0, 0, 0, 1);
    box-shadow:         0px 0px 30px 0px rgba(0, 0, 0, 1);
}

.header{
    position: absolute;
    top: 0px;
    background-color: #bc2e28;
    width: 100%;
    height: 20%


}

.header h1{
    font-family: Calibri;
    color: white;
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    text-shadow: 0px 0px 12px rgba(0, 0, 0, 1);
}

.menu{
    position: absolute;
    top: 20%;
    width: 100%;
    height: 10%;
    background-color: #ff312b;
}

.menuItem{
    float: left;
    height: 100%;
    width: 33.33333333333333%;
    background-color: #ff312b;
    text-decoration:none;
}

.menuItem{
    float: left;
    height: 100%;
    width: 33.33333333333333%;
    background-color: #ff312b;
    transition: 0.3s ease-in-out;
    text-decoration:none;
}

.menuItem:hover{
    float: left;
    height: 100%;
    width: 33.33333333333333%;
    background-color: #bc2e28;
    text-decoration:none;
}

.menuItem p{
    font-family: Calibri;
    color: white;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
}

.content{
    position: absolute;
    top: 30%;
    width: 100%;
    height: 70%;
    background-color: lightgray;
    text-align: center;
}