/* app css stylesheet */

body {
  font-family: "Open Sans",sans-serif;
  font-weight:lighter;

}

ul{
  list-style-type: none;
}

h1,h2,h3 {
  font-family: "Roboto Slab";
  color:#06476b;
}
.menu {
  list-style: none;
  float:top;
  margin:0px;
} ul {
  display: inline-block;
  font-size: 20px;
}


.menu > li {
  display: inline;
} a:link {
  text-decoration: none;
  color:white;
  font-weight:lighter;
} a:visited {
    text-decoration: none;
    color:white;
} a:hover {
    color:white;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
#menu {
  background-color: #0aaae7;

} .ch-logo{
  width:5em;
  height: 5em;
  display:inline-block;
}

.mini-bar {
  background-color: #06476b;
  height:3em;
  color:#d8f0fd;
  text-align: center;
  padding-bottom:1em;
}

.mini-bar-contact > li {
  display: inline;
}

#why-course-hero{
/*  background-image: url("https://static.pexels.com/photos/232/apple-iphone-books-desk.jpg");*/
  height:60em;
  padding-top:3%;
  background-color:#f1f1f1;
 /*  background-image: url("https://static.pexels.com/photos/5377/books-bookshop-magazines.jpg");
   background-size: 100%;*/
}
#about-me{
  position: relative;
  padding:3%;
  background-color:#f1f1f1;
  padding-bottom:0px;

} img{
  margin-left:10%;
}
#todo-wrapper{
  display:inline-block;
  margin-left:10%;
  width:20em;
  height:30em;
  border-top: 3px solid #40d579;
  background-color: white;
  padding:10px;
  color:#3d3d3d;
  border-radius: 5px;
} h3 {
  text-align: center;
}

.add-btn, .clear-btn {
  border-radius:5px;
  color:white;
  font-weight:600;
  background:#0aaae7;
  -webkit-box-shadow: inset 0 -3px 0 #088fc4;
  box-shadow: inset 0 -3px 0 #088fc4;
  text-align: center;
  border: 0 solid transparent;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 10px;
  height: 42px;
}

#why {
  float:right;
  display:inline-block;
  background-color: white;
  width:45em;
  height:30em;
  margin-right:10%;
  border-top:3px solid #ff911a;
  padding:10px;
  vertical-align: top;
  border-radius: 5px;
} h2{
  text-align: center;
}

#why-ch-table {
  width:100%;
} #why-ch-table td {
  padding:10px;
  padding-bottom:15px;
}

.fa {
color:#0aaae7;
}

#profile-pic {
  display:inline-block;
}
#intro {
  display:inline-block;
  margin-left: 5%;
  vertical-align: top;
  width:45%;
}
  #intro > h1 {
    font-size: 36px;
    color:#06476b;
  }
  #intro > p {
    font-size:20px;
  }

#why-me {
  background-color: white;
  margin-left:10%;
  margin-right:10%;
  margin-top:3%;
  border-top:3px solid #40d579;
  padding:10px;
  border-radius: 5px;
  height:20em;
}
#why-me-table {
  width:90%;
  margin:0 auto;
} #why-me-table td {
  margin:10%;
  padding:5px;
}


.add-input {
  width:80%;
} #todo-form {
  width:90%;
  text-align: center;
} #buttons {
  text-align: center;
  width:90%;
  padding-top:5%;
}

#courses-header {
  height:12em;
  background-image: linear-gradient(to bottom, #f7fcfe 0%, #e6f6fd 100%);
  border-bottom: 1px solid #bbe8f9;
  text-align: center;
} #courses-header h1{
  color:#0aaae7;
  margin-top: 0;
  padding-top:15px;
} #courses-header p {
  padding-right:22%;
  padding-left:22%;
  font-weight: bolder;
  color:#3a3a3a;
  font-size:18px;
}
#list-of-courses {
  height:50em;
}
#courses-div {
  height:40em;
  margin:0 auto;
  width:60%;
  border-radius:5px;
  border:1px solid #bbe8f9;
  margin-top:5%;
}
#search-bar {
  height:10%;
  background-image: linear-gradient(to bottom, #f7fcfe 0%, #e6f6fd 100%);
  border-bottom:1px solid #bbe8f9;
}
#courses-table a{
  color:#0aaae7;
}
#courses-table td {
  padding-left:10%;
  border-bottom:.5px solid #bbe8f9;
  /*width:100%;*/
}
#courses-table {
  width:100%;
  height:100%;
}
#scrollable-div {
  width: 100%;
  height: 90%;
  overflow: scroll;
}