.view1 {
    background: chartreuse;
}

.viewLinks {
    color: #8d4900;
}

.viewHeader {
    color: #96151d;
    font-size: 28px;
}

.centeredColumn {
    text-align: center;
}

.noBottomMargin {
    margin-bottom: 0px;
}