<div id="about-me">
  <img src="images/me"/>
</div>

<div id="why-course-hero">
  <div id="todo-wrapper" ng-controller="View1Ctrl">
    <h3>Things to do before the onsite:</h3>
    <ul>
      <li ng-repeat="todo in todos">
        <input type="checkbox" ng-model="todo.done"/>
        <span class="done-{{todo.done}}">{{todo.text}}</span>
      </li>
    </ul>
    <form>
      <input class="add-input" placeholder="Task" type="text" ng-model="formTodoText" ng-model-instant />
      <button class="add-btn" ng-click="addTodo()">Add</button>
    </form>

    <button class="clear-btn" ng-click="clearCompleted()">Clear completed</button>
  </div>
  <div id="why" ng-controller="View1Ctrl">
    <h2>Why I love Course Hero</h2>
    <ul>
      <li ng-repeat="reason in reasonsWhyCourseHero">
        <i class="{{reason.icon}}"></i>
        <span>{{reason.text}}</span>
      </li>
    </ul>

  </div>
</div>
